.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.text {
  font-size: 2rem;
  font-family: "Courier New";
  border-right: 0.15em solid black;

  width: 0;
  overflow: hidden;
  white-space: nowrap;

  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
