.allScreen {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100%;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  /* height: 50px; */
  background-color: var(--night-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: inset 0px -1px 6px 0px black; */
  /* box-shadow: inset 0px -3px 62px 0px var(--v4); */
  box-shadow: inset 0px 2.5em 1.9em 0px var(--v4);
}

@media screen and (max-width: 1080px) {
  .navbar {
    box-shadow: inset 0px 1.25em 0.8em 0px var(--v4);
  }
}

.childrenContainer {
  width: 100%;
  height: calc(100% - var(--navbar-height));
  /* overflow: scroll; */
  overflow-x: hidden;
  background-color: var(--night-bg-color);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: var(--navbar-height);
}
