.homeContainer {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  /* padding: 50px 40px; */
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer .logo {
  position: inherit;
  margin-top: -50px;
  padding-top: calc(var(--role_size) + 1em);
  width: 100%;
  height: 100%;
  /* height: 520px;
  width: 520px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  user-select: none;
}

.homeContainer .logo .mainImg {
  position: absolute;
  z-index: 5;
  height: auto;
  width: 100%;
  /* height: 300px;
  width: 300px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.homeContainer .logo .mainImg.active {
  animation: spin 8s linear 1s infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.homeContainer .logo .circle {
  position: absolute;
  z-index: 4;

  width: 15vmin;
  height: 15vmin;
  max-width: 6em;
  max-height: 6em;
  border-radius: 50%;
  background-color: rgb(4, 4, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  opacity: 0;
}

.homeContainer .logo .mainImg.active .circle {
  opacity: 1;
}

.homeContainer .logo .mainImg.active .circle:nth-child(1) {
  background: url(./../public/images/moon.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(-210%);
}

.homeContainer .logo .mainImg.active .circle:nth-child(2) {
  background: url(./../public/images/moon.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translate(150%, -150%);
}

.homeContainer .logo .mainImg.active .circle:nth-child(3) {
  background: url(./../public/images/moon.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(210%);
}

.homeContainer .logo .mainImg.active .circle:nth-child(4) {
  background: url(./../public/images/moon.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translate(150%, 150%);
}

.homeContainer .logo .mainImg.active .circle:nth-child(5) {
  background: url(./../public/images/moon.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateX(210%);
}

.homeContainer .logo .mainImg.active .circle:nth-child(6) {
  background: url(./../public/images/moon.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translate(-150%, 150%);
}
.homeContainer .logo .mainImg.active .circle:nth-child(7) {
  background: url(./../public/images/moon.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateX(-210%);
}

.homeContainer .logo .mainImg.active .circle:nth-child(8) {
  background: url(./../public/images/moon.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translate(-150%, -150%);
}

.homeContainer img {
  position: absolute;
  z-index: 5;
  width: 300px;
  max-width: 40vmin;
  height: auto;
  border-radius: 50%;
  border: 3px solid rgb(108, 161, 197);
  /* transform: translateY(50vh); */
  opacity: 0;
  visibility: hidden;
  animation: fade-in 6s ease 1 0.5s forwards;
  animation-delay: calc(var(--full_rise_duration) + 4s);
}
@keyframes fade-in {
  to {
    visibility: visible;
    /* transform: translate(0); */
    opacity: 1;
  }
}
