.starsContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--night-bg-color);
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1495px 579px #fff, 678px 1198px #fff, 1436px 1955px #fff,
    1566px 1791px #fff, 70px 1902px #fff, 1770px 1187px #fff, 434px 285px #fff,
    131px 1422px #fff, 998px 1858px #fff, 1766px 1720px #fff, 893px 1321px #fff,
    1797px 182px #fff, 31px 1777px #fff, 1471px 1603px #fff, 1579px 993px #fff,
    223px 826px #fff, 638px 1292px #fff, 1254px 1856px #fff, 67px 1013px #fff,
    720px 1279px #fff, 502px 716px #fff, 1752px 657px #fff, 295px 987px #fff,
    903px 1002px #fff, 1688px 722px #fff, 403px 787px #fff, 1260px 969px #fff,
    48px 1548px #fff, 765px 33px #fff, 1887px 713px #fff, 1518px 718px #fff,
    1184px 1098px #fff, 603px 347px #fff, 397px 1882px #fff, 1823px 721px #fff,
    607px 464px #fff, 1413px 826px #fff, 1185px 1182px #fff, 771px 699px #fff,
    131px 531px #fff, 1797px 299px #fff, 1634px 549px #fff, 924px 842px #fff,
    759px 1373px #fff, 1085px 418px #fff, 1758px 781px #fff, 1765px 219px #fff,
    71px 1635px #fff, 1853px 21px #fff, 584px 1334px #fff, 1543px 605px #fff,
    497px 722px #fff, 847px 1251px #fff, 1842px 1267px #fff, 1450px 1718px #fff,
    1926px 1435px #fff, 1475px 868px #fff, 1241px 156px #fff, 1960px 684px #fff,
    360px 1463px #fff, 941px 291px #fff, 1837px 1687px #fff, 1889px 858px #fff,
    904px 1537px #fff, 52px 1806px #fff, 940px 727px #fff, 1019px 584px #fff,
    560px 1619px #fff, 1668px 1549px #fff, 299px 1835px #fff, 99px 174px #fff,
    1453px 1848px #fff, 1817px 1274px #fff, 284px 1345px #fff,
    1949px 1117px #fff, 781px 265px #fff, 836px 349px #fff, 1846px 1611px #fff,
    641px 117px #fff, 1136px 739px #fff, 193px 819px #fff, 1916px 412px #fff,
    1873px 761px #fff, 1386px 738px #fff, 1451px 98px #fff, 1661px 14px #fff,
    1147px 1114px #fff, 998px 1811px #fff, 1340px 1201px #fff, 1732px 719px #fff,
    1068px 1379px #fff, 649px 36px #fff, 1318px 801px #fff, 104px 250px #fff,
    1364px 1278px #fff, 1810px 114px #fff, 335px 762px #fff, 301px 1429px #fff,
    508px 205px #fff, 568px 241px #fff, 1747px 1544px #fff, 284px 1737px #fff,
    389px 556px #fff, 577px 462px #fff, 17px 1410px #fff, 1376px 1133px #fff,
    600px 1315px #fff, 508px 1218px #fff, 740px 1182px #fff, 1252px 756px #fff,
    1823px 709px #fff, 867px 1867px #fff, 831px 821px #fff, 1230px 1654px #fff,
    1266px 1868px #fff, 1658px 295px #fff, 175px 68px #fff, 1649px 186px #fff,
    1857px 711px #fff, 794px 498px #fff, 1693px 116px #fff, 290px 629px #fff,
    142px 556px #fff, 1759px 1343px #fff, 1966px 1997px #fff, 525px 733px #fff,
    42px 601px #fff, 1096px 1316px #fff, 317px 1029px #fff, 1860px 540px #fff,
    1326px 1039px #fff, 271px 1376px #fff, 531px 1430px #fff, 1093px 231px #fff,
    218px 1444px #fff, 1643px 324px #fff, 35px 353px #fff, 104px 617px #fff,
    843px 1396px #fff, 409px 870px #fff, 1569px 49px #fff, 532px 1427px #fff,
    1087px 386px #fff, 1074px 1689px #fff, 627px 86px #fff, 1302px 817px #fff,
    715px 944px #fff, 1365px 1188px #fff, 210px 410px #fff, 1949px 4px #fff,
    1766px 598px #fff, 1306px 164px #fff, 1834px 1533px #fff, 313px 1225px #fff,
    1587px 1628px #fff, 118px 133px #fff, 1568px 780px #fff, 714px 318px #fff,
    1730px 850px #fff, 1575px 1660px #fff, 1138px 1975px #fff, 374px 767px #fff,
    1268px 399px #fff, 1416px 1799px #fff, 1919px 1682px #fff, 907px 1279px #fff,
    919px 190px #fff, 575px 1451px #fff, 317px 893px #fff, 1313px 999px #fff,
    1386px 1329px #fff, 1518px 1956px #fff, 46px 1111px #fff, 438px 881px #fff,
    1360px 1707px #fff, 1572px 1409px #fff, 1555px 1065px #fff,
    1716px 653px #fff, 1512px 1744px #fff, 873px 752px #fff, 1155px 503px #fff,
    600px 1923px #fff, 274px 972px #fff, 348px 356px #fff, 1879px 1758px #fff,
    658px 1548px #fff, 529px 799px #fff, 1926px 984px #fff, 906px 772px #fff,
    1174px 1040px #fff, 809px 1621px #fff, 604px 1616px #fff, 732px 129px #fff,
    723px 1800px #fff, 1988px 1607px #fff, 1744px 1216px #fff,
    1163px 1233px #fff, 1439px 1288px #fff, 1031px 860px #fff, 1146px 820px #fff,
    753px 1874px #fff, 1058px 410px #fff, 30px 155px #fff, 824px 716px #fff,
    1504px 687px #fff, 838px 279px #fff, 1857px 203px #fff, 1154px 1803px #fff,
    1269px 672px #fff, 1229px 971px #fff, 1999px 1706px #fff, 1926px 1067px #fff,
    1930px 976px #fff, 329px 203px #fff, 1935px 1956px #fff, 1380px 1961px #fff,
    622px 1179px #fff, 1081px 616px #fff, 1483px 973px #fff, 1702px 1823px #fff,
    1621px 1261px #fff, 1563px 1875px #fff, 602px 1511px #fff, 1985px 918px #fff,
    1938px 469px #fff, 448px 1075px #fff, 1638px 1904px #fff, 1617px 778px #fff,
    699px 392px #fff, 1079px 1732px #fff, 1843px 429px #fff, 918px 1169px #fff,
    1723px 884px #fff, 1447px 657px #fff, 1117px 1225px #fff, 142px 152px #fff,
    330px 1399px #fff, 751px 1779px #fff, 73px 1355px #fff, 437px 1730px #fff,
    941px 1451px #fff, 771px 922px #fff, 1123px 1089px #fff, 1344px 1124px #fff,
    1829px 1871px #fff, 401px 1960px #fff, 1606px 451px #fff, 1865px 1571px #fff,
    194px 1204px #fff, 1048px 1709px #fff, 1159px 973px #fff, 777px 1010px #fff,
    1453px 910px #fff, 1913px 682px #fff, 371px 939px #fff, 1579px 1796px #fff,
    313px 1961px #fff, 1478px 240px #fff, 1810px 1721px #fff, 1626px 1352px #fff,
    881px 1319px #fff, 1254px 1802px #fff, 186px 780px #fff, 1307px 1120px #fff,
    1551px 1405px #fff, 678px 953px #fff, 1678px 1645px #fff, 25px 1336px #fff,
    546px 833px #fff, 183px 291px #fff, 921px 400px #fff, 164px 276px #fff,
    609px 829px #fff, 1363px 828px #fff, 202px 867px #fff, 1849px 114px #fff,
    1492px 733px #fff, 1037px 1313px #fff, 1579px 1373px #fff, 36px 544px #fff,
    1129px 65px #fff, 1892px 164px #fff, 691px 29px #fff, 1550px 1332px #fff,
    1074px 966px #fff, 1346px 1346px #fff, 967px 97px #fff, 1888px 203px #fff,
    1856px 773px #fff, 564px 1077px #fff, 1777px 1078px #fff, 1010px 1155px #fff,
    1864px 1045px #fff, 170px 1028px #fff, 623px 497px #fff, 1309px 811px #fff,
    748px 1499px #fff, 1019px 1350px #fff, 345px 141px #fff, 427px 638px #fff,
    994px 1755px #fff, 1073px 1413px #fff, 1934px 1348px #fff, 287px 931px #fff,
    542px 362px #fff, 1027px 1306px #fff, 288px 493px #fff, 329px 1698px #fff,
    1171px 1508px #fff, 195px 59px #fff, 70px 308px #fff, 127px 1570px #fff,
    870px 575px #fff, 302px 1463px #fff, 1232px 1694px #fff, 1476px 568px #fff,
    1743px 1228px #fff, 160px 1366px #fff, 950px 1894px #fff, 1385px 584px #fff,
    1999px 1217px #fff, 710px 37px #fff, 55px 1617px #fff, 838px 1893px #fff,
    322px 748px #fff, 1041px 1292px #fff, 1271px 350px #fff, 1272px 1405px #fff,
    629px 1205px #fff, 790px 492px #fff, 756px 935px #fff, 1063px 624px #fff,
    461px 214px #fff, 1696px 869px #fff, 1322px 1379px #fff, 1377px 1715px #fff,
    1825px 15px #fff, 1603px 901px #fff, 1121px 611px #fff, 1205px 1203px #fff,
    930px 605px #fff, 1784px 1599px #fff, 1870px 925px #fff, 394px 1066px #fff,
    1860px 1563px #fff, 932px 796px #fff, 964px 550px #fff, 352px 1159px #fff,
    1608px 189px #fff, 671px 509px #fff, 1034px 367px #fff, 543px 961px #fff,
    241px 1362px #fff, 1857px 66px #fff, 1497px 1526px #fff, 691px 1124px #fff,
    674px 272px #fff, 1238px 1539px #fff, 1154px 602px #fff, 1781px 1420px #fff,
    1969px 92px #fff, 413px 1401px #fff, 1689px 1926px #fff, 1059px 1616px #fff,
    267px 1200px #fff, 1232px 1118px #fff, 1506px 968px #fff, 1065px 1444px #fff,
    1810px 1085px #fff, 386px 1259px #fff, 1477px 1721px #fff, 1436px 492px #fff,
    1481px 971px #fff, 1537px 1319px #fff, 859px 847px #fff, 15px 1707px #fff,
    657px 926px #fff, 2px 154px #fff, 32px 553px #fff, 1154px 1183px #fff,
    962px 788px #fff, 1609px 527px #fff, 1986px 1120px #fff, 940px 70px #fff,
    497px 1416px #fff, 1891px 92px #fff, 1707px 56px #fff, 666px 1556px #fff,
    900px 387px #fff, 871px 217px #fff, 1861px 1691px #fff, 1270px 1068px #fff,
    126px 1952px #fff, 151px 1312px #fff, 1755px 620px #fff, 1406px 1431px #fff,
    534px 839px #fff, 988px 918px #fff, 518px 515px #fff, 914px 1818px #fff,
    301px 1720px #fff, 913px 907px #fff, 1071px 427px #fff, 1950px 1837px #fff,
    1724px 1257px #fff, 1037px 837px #fff, 500px 1410px #fff, 1526px 562px #fff,
    1256px 1099px #fff, 1912px 1726px #fff, 1963px 547px #fff, 638px 1624px #fff,
    1933px 589px #fff, 1738px 435px #fff, 1763px 724px #fff, 676px 445px #fff,
    533px 875px #fff, 391px 1705px #fff, 665px 886px #fff, 476px 368px #fff,
    1772px 261px #fff, 1395px 748px #fff, 1238px 377px #fff, 1472px 901px #fff,
    591px 1502px #fff, 1893px 1822px #fff, 438px 618px #fff, 1597px 599px #fff,
    1094px 1168px #fff, 924px 382px #fff, 930px 1726px #fff, 1502px 1628px #fff,
    1550px 1620px #fff, 1990px 954px #fff, 1752px 1213px #fff, 395px 404px #fff,
    336px 1604px #fff, 492px 193px #fff, 616px 1294px #fff, 132px 1501px #fff,
    476px 1959px #fff, 1642px 633px #fff, 1164px 1116px #fff, 1841px 1568px #fff,
    1502px 1303px #fff, 1426px 23px #fff, 78px 329px #fff, 299px 352px #fff,
    985px 1346px #fff, 102px 588px #fff, 410px 54px #fff, 135px 1581px #fff,
    1824px 476px #fff, 1701px 1223px #fff, 341px 905px #fff, 586px 199px #fff,
    1203px 1281px #fff, 376px 1415px #fff, 1212px 1329px #fff, 871px 99px #fff,
    526px 1106px #fff, 977px 1064px #fff, 581px 1298px #fff, 1334px 1179px #fff,
    292px 1056px #fff, 392px 244px #fff, 1896px 1784px #fff, 979px 1359px #fff,
    1136px 107px #fff, 916px 1190px #fff, 1975px 916px #fff, 789px 636px #fff,
    1978px 980px #fff, 186px 1207px #fff, 166px 721px #fff, 635px 982px #fff,
    1911px 690px #fff, 232px 1924px #fff, 1031px 498px #fff, 617px 1470px #fff,
    1288px 1149px #fff, 1050px 420px #fff, 1007px 1984px #fff, 1892px 661px #fff,
    494px 230px #fff, 762px 1292px #fff, 1649px 1494px #fff, 1466px 1103px #fff,
    1022px 981px #fff, 1807px 185px #fff, 1773px 1837px #fff, 414px 875px #fff,
    1863px 817px #fff, 553px 714px #fff, 1747px 207px #fff, 719px 1181px #fff,
    780px 87px #fff, 1103px 1579px #fff, 416px 131px #fff, 1140px 436px #fff,
    1591px 831px #fff, 1430px 895px #fff, 1034px 56px #fff, 873px 976px #fff,
    875px 32px #fff, 1404px 1002px #fff, 898px 1085px #fff, 382px 1838px #fff,
    1442px 341px #fff, 1484px 179px #fff, 1602px 1226px #fff, 268px 340px #fff,
    1114px 1382px #fff, 579px 1637px #fff, 1592px 755px #fff, 620px 37px #fff,
    1990px 1892px #fff, 555px 700px #fff, 1505px 1326px #fff, 1281px 1248px #fff,
    1446px 598px #fff, 1708px 1757px #fff, 767px 1369px #fff, 1866px 1585px #fff,
    1370px 1516px #fff, 1087px 1827px #fff, 1597px 400px #fff, 16px 517px #fff,
    1710px 108px #fff, 650px 1793px #fff, 377px 453px #fff, 1908px 946px #fff,
    1591px 542px #fff, 1870px 1338px #fff, 1352px 477px #fff, 779px 1977px #fff,
    1883px 1151px #fff, 778px 1473px #fff, 1875px 1067px #fff,
    1504px 1237px #fff, 1347px 833px #fff, 155px 247px #fff, 535px 80px #fff,
    277px 1562px #fff, 158px 1475px #fff, 439px 1672px #fff, 1074px 772px #fff,
    139px 1779px #fff, 1733px 85px #fff, 1956px 1341px #fff, 1624px 688px #fff,
    45px 412px #fff, 1104px 1353px #fff, 377px 963px #fff, 363px 731px #fff,
    1597px 685px #fff, 1700px 812px #fff, 1700px 397px #fff, 1155px 1617px #fff,
    264px 1692px #fff, 1426px 1130px #fff, 1943px 821px #fff, 963px 1424px #fff,
    341px 1724px #fff, 273px 1083px #fff, 1448px 24px #fff, 608px 1610px #fff,
    1711px 1402px #fff, 1522px 880px #fff, 187px 171px #fff, 491px 1377px #fff,
    1948px 269px #fff, 1071px 903px #fff, 876px 405px #fff, 1060px 1400px #fff,
    1731px 206px #fff, 1662px 1777px #fff, 1286px 405px #fff, 354px 1973px #fff,
    1645px 675px #fff, 625px 901px #fff, 56px 236px #fff, 1303px 1148px #fff,
    1160px 1165px #fff, 1361px 271px #fff, 1175px 29px #fff, 1041px 1010px #fff,
    786px 603px #fff, 1065px 259px #fff, 794px 1040px #fff, 1649px 1854px #fff,
    815px 1369px #fff, 45px 1369px #fff, 410px 726px #fff, 86px 724px #fff,
    954px 813px #fff, 983px 104px #fff, 1385px 226px #fff, 1501px 1233px #fff,
    1221px 1892px #fff, 547px 1048px #fff, 535px 509px #fff, 1245px 1178px #fff,
    1906px 104px #fff, 1749px 230px #fff, 963px 234px #fff, 691px 1921px #fff,
    1473px 1509px #fff, 1426px 1307px #fff, 922px 671px #fff, 1097px 1173px #fff,
    1779px 495px #fff, 1776px 1665px #fff, 1021px 798px #fff, 780px 1890px #fff,
    1268px 697px #fff, 1057px 1472px #fff, 376px 1229px #fff, 920px 701px #fff,
    651px 1192px #fff, 1174px 1192px #fff, 372px 1918px #fff, 1973px 449px #fff,
    85px 1380px #fff, 686px 490px #fff, 1732px 740px #fff, 355px 630px #fff,
    858px 1144px #fff, 977px 157px #fff, 1217px 1411px #fff, 229px 315px #fff,
    5px 1900px #fff, 67px 643px #fff, 980px 1144px #fff, 642px 826px #fff,
    18px 1431px #fff, 623px 1340px #fff, 195px 1496px #fff, 256px 223px #fff,
    844px 61px #fff, 1732px 1993px #fff, 1397px 1354px #fff, 279px 111px #fff,
    906px 111px #fff, 1812px 1841px #fff, 1559px 284px #fff, 1795px 360px #fff,
    862px 719px #fff, 160px 1492px #fff, 641px 1866px #fff, 1533px 994px #fff,
    563px 734px #fff, 835px 737px #fff, 544px 274px #fff, 297px 1907px #fff,
    1472px 1500px #fff, 935px 1360px #fff, 1405px 965px #fff, 1399px 1564px #fff,
    108px 509px #fff, 785px 1293px #fff, 846px 423px #fff, 783px 1446px #fff,
    1679px 1343px #fff, 1961px 524px #fff, 404px 958px #fff, 1425px 1843px #fff,
    779px 1201px #fff, 618px 1276px #fff, 735px 1369px #fff, 854px 1318px #fff,
    1219px 1721px #fff, 1556px 729px #fff, 1479px 1314px #fff,
    1175px 1196px #fff, 1412px 1456px #fff, 855px 1135px #fff, 1339px 102px #fff,
    731px 831px #fff, 1768px 1092px #fff, 1725px 985px #fff, 1195px 1272px #fff,
    1018px 1210px #fff, 347px 1546px #fff, 492px 830px #fff, 1694px 1601px #fff,
    723px 1550px #fff, 1080px 77px #fff, 1170px 388px #fff, 1665px 1302px #fff,
    1135px 147px #fff, 1976px 1681px #fff, 1963px 997px #fff, 1364px 493px #fff,
    1291px 468px #fff, 1082px 1267px #fff, 89px 1651px #fff, 1869px 1177px #fff,
    947px 44px #fff, 736px 932px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1495px 579px #fff, 678px 1198px #fff, 1436px 1955px #fff,
    1566px 1791px #fff, 70px 1902px #fff, 1770px 1187px #fff, 434px 285px #fff,
    131px 1422px #fff, 998px 1858px #fff, 1766px 1720px #fff, 893px 1321px #fff,
    1797px 182px #fff, 31px 1777px #fff, 1471px 1603px #fff, 1579px 993px #fff,
    223px 826px #fff, 638px 1292px #fff, 1254px 1856px #fff, 67px 1013px #fff,
    720px 1279px #fff, 502px 716px #fff, 1752px 657px #fff, 295px 987px #fff,
    903px 1002px #fff, 1688px 722px #fff, 403px 787px #fff, 1260px 969px #fff,
    48px 1548px #fff, 765px 33px #fff, 1887px 713px #fff, 1518px 718px #fff,
    1184px 1098px #fff, 603px 347px #fff, 397px 1882px #fff, 1823px 721px #fff,
    607px 464px #fff, 1413px 826px #fff, 1185px 1182px #fff, 771px 699px #fff,
    131px 531px #fff, 1797px 299px #fff, 1634px 549px #fff, 924px 842px #fff,
    759px 1373px #fff, 1085px 418px #fff, 1758px 781px #fff, 1765px 219px #fff,
    71px 1635px #fff, 1853px 21px #fff, 584px 1334px #fff, 1543px 605px #fff,
    497px 722px #fff, 847px 1251px #fff, 1842px 1267px #fff, 1450px 1718px #fff,
    1926px 1435px #fff, 1475px 868px #fff, 1241px 156px #fff, 1960px 684px #fff,
    360px 1463px #fff, 941px 291px #fff, 1837px 1687px #fff, 1889px 858px #fff,
    904px 1537px #fff, 52px 1806px #fff, 940px 727px #fff, 1019px 584px #fff,
    560px 1619px #fff, 1668px 1549px #fff, 299px 1835px #fff, 99px 174px #fff,
    1453px 1848px #fff, 1817px 1274px #fff, 284px 1345px #fff,
    1949px 1117px #fff, 781px 265px #fff, 836px 349px #fff, 1846px 1611px #fff,
    641px 117px #fff, 1136px 739px #fff, 193px 819px #fff, 1916px 412px #fff,
    1873px 761px #fff, 1386px 738px #fff, 1451px 98px #fff, 1661px 14px #fff,
    1147px 1114px #fff, 998px 1811px #fff, 1340px 1201px #fff, 1732px 719px #fff,
    1068px 1379px #fff, 649px 36px #fff, 1318px 801px #fff, 104px 250px #fff,
    1364px 1278px #fff, 1810px 114px #fff, 335px 762px #fff, 301px 1429px #fff,
    508px 205px #fff, 568px 241px #fff, 1747px 1544px #fff, 284px 1737px #fff,
    389px 556px #fff, 577px 462px #fff, 17px 1410px #fff, 1376px 1133px #fff,
    600px 1315px #fff, 508px 1218px #fff, 740px 1182px #fff, 1252px 756px #fff,
    1823px 709px #fff, 867px 1867px #fff, 831px 821px #fff, 1230px 1654px #fff,
    1266px 1868px #fff, 1658px 295px #fff, 175px 68px #fff, 1649px 186px #fff,
    1857px 711px #fff, 794px 498px #fff, 1693px 116px #fff, 290px 629px #fff,
    142px 556px #fff, 1759px 1343px #fff, 1966px 1997px #fff, 525px 733px #fff,
    42px 601px #fff, 1096px 1316px #fff, 317px 1029px #fff, 1860px 540px #fff,
    1326px 1039px #fff, 271px 1376px #fff, 531px 1430px #fff, 1093px 231px #fff,
    218px 1444px #fff, 1643px 324px #fff, 35px 353px #fff, 104px 617px #fff,
    843px 1396px #fff, 409px 870px #fff, 1569px 49px #fff, 532px 1427px #fff,
    1087px 386px #fff, 1074px 1689px #fff, 627px 86px #fff, 1302px 817px #fff,
    715px 944px #fff, 1365px 1188px #fff, 210px 410px #fff, 1949px 4px #fff,
    1766px 598px #fff, 1306px 164px #fff, 1834px 1533px #fff, 313px 1225px #fff,
    1587px 1628px #fff, 118px 133px #fff, 1568px 780px #fff, 714px 318px #fff,
    1730px 850px #fff, 1575px 1660px #fff, 1138px 1975px #fff, 374px 767px #fff,
    1268px 399px #fff, 1416px 1799px #fff, 1919px 1682px #fff, 907px 1279px #fff,
    919px 190px #fff, 575px 1451px #fff, 317px 893px #fff, 1313px 999px #fff,
    1386px 1329px #fff, 1518px 1956px #fff, 46px 1111px #fff, 438px 881px #fff,
    1360px 1707px #fff, 1572px 1409px #fff, 1555px 1065px #fff,
    1716px 653px #fff, 1512px 1744px #fff, 873px 752px #fff, 1155px 503px #fff,
    600px 1923px #fff, 274px 972px #fff, 348px 356px #fff, 1879px 1758px #fff,
    658px 1548px #fff, 529px 799px #fff, 1926px 984px #fff, 906px 772px #fff,
    1174px 1040px #fff, 809px 1621px #fff, 604px 1616px #fff, 732px 129px #fff,
    723px 1800px #fff, 1988px 1607px #fff, 1744px 1216px #fff,
    1163px 1233px #fff, 1439px 1288px #fff, 1031px 860px #fff, 1146px 820px #fff,
    753px 1874px #fff, 1058px 410px #fff, 30px 155px #fff, 824px 716px #fff,
    1504px 687px #fff, 838px 279px #fff, 1857px 203px #fff, 1154px 1803px #fff,
    1269px 672px #fff, 1229px 971px #fff, 1999px 1706px #fff, 1926px 1067px #fff,
    1930px 976px #fff, 329px 203px #fff, 1935px 1956px #fff, 1380px 1961px #fff,
    622px 1179px #fff, 1081px 616px #fff, 1483px 973px #fff, 1702px 1823px #fff,
    1621px 1261px #fff, 1563px 1875px #fff, 602px 1511px #fff, 1985px 918px #fff,
    1938px 469px #fff, 448px 1075px #fff, 1638px 1904px #fff, 1617px 778px #fff,
    699px 392px #fff, 1079px 1732px #fff, 1843px 429px #fff, 918px 1169px #fff,
    1723px 884px #fff, 1447px 657px #fff, 1117px 1225px #fff, 142px 152px #fff,
    330px 1399px #fff, 751px 1779px #fff, 73px 1355px #fff, 437px 1730px #fff,
    941px 1451px #fff, 771px 922px #fff, 1123px 1089px #fff, 1344px 1124px #fff,
    1829px 1871px #fff, 401px 1960px #fff, 1606px 451px #fff, 1865px 1571px #fff,
    194px 1204px #fff, 1048px 1709px #fff, 1159px 973px #fff, 777px 1010px #fff,
    1453px 910px #fff, 1913px 682px #fff, 371px 939px #fff, 1579px 1796px #fff,
    313px 1961px #fff, 1478px 240px #fff, 1810px 1721px #fff, 1626px 1352px #fff,
    881px 1319px #fff, 1254px 1802px #fff, 186px 780px #fff, 1307px 1120px #fff,
    1551px 1405px #fff, 678px 953px #fff, 1678px 1645px #fff, 25px 1336px #fff,
    546px 833px #fff, 183px 291px #fff, 921px 400px #fff, 164px 276px #fff,
    609px 829px #fff, 1363px 828px #fff, 202px 867px #fff, 1849px 114px #fff,
    1492px 733px #fff, 1037px 1313px #fff, 1579px 1373px #fff, 36px 544px #fff,
    1129px 65px #fff, 1892px 164px #fff, 691px 29px #fff, 1550px 1332px #fff,
    1074px 966px #fff, 1346px 1346px #fff, 967px 97px #fff, 1888px 203px #fff,
    1856px 773px #fff, 564px 1077px #fff, 1777px 1078px #fff, 1010px 1155px #fff,
    1864px 1045px #fff, 170px 1028px #fff, 623px 497px #fff, 1309px 811px #fff,
    748px 1499px #fff, 1019px 1350px #fff, 345px 141px #fff, 427px 638px #fff,
    994px 1755px #fff, 1073px 1413px #fff, 1934px 1348px #fff, 287px 931px #fff,
    542px 362px #fff, 1027px 1306px #fff, 288px 493px #fff, 329px 1698px #fff,
    1171px 1508px #fff, 195px 59px #fff, 70px 308px #fff, 127px 1570px #fff,
    870px 575px #fff, 302px 1463px #fff, 1232px 1694px #fff, 1476px 568px #fff,
    1743px 1228px #fff, 160px 1366px #fff, 950px 1894px #fff, 1385px 584px #fff,
    1999px 1217px #fff, 710px 37px #fff, 55px 1617px #fff, 838px 1893px #fff,
    322px 748px #fff, 1041px 1292px #fff, 1271px 350px #fff, 1272px 1405px #fff,
    629px 1205px #fff, 790px 492px #fff, 756px 935px #fff, 1063px 624px #fff,
    461px 214px #fff, 1696px 869px #fff, 1322px 1379px #fff, 1377px 1715px #fff,
    1825px 15px #fff, 1603px 901px #fff, 1121px 611px #fff, 1205px 1203px #fff,
    930px 605px #fff, 1784px 1599px #fff, 1870px 925px #fff, 394px 1066px #fff,
    1860px 1563px #fff, 932px 796px #fff, 964px 550px #fff, 352px 1159px #fff,
    1608px 189px #fff, 671px 509px #fff, 1034px 367px #fff, 543px 961px #fff,
    241px 1362px #fff, 1857px 66px #fff, 1497px 1526px #fff, 691px 1124px #fff,
    674px 272px #fff, 1238px 1539px #fff, 1154px 602px #fff, 1781px 1420px #fff,
    1969px 92px #fff, 413px 1401px #fff, 1689px 1926px #fff, 1059px 1616px #fff,
    267px 1200px #fff, 1232px 1118px #fff, 1506px 968px #fff, 1065px 1444px #fff,
    1810px 1085px #fff, 386px 1259px #fff, 1477px 1721px #fff, 1436px 492px #fff,
    1481px 971px #fff, 1537px 1319px #fff, 859px 847px #fff, 15px 1707px #fff,
    657px 926px #fff, 2px 154px #fff, 32px 553px #fff, 1154px 1183px #fff,
    962px 788px #fff, 1609px 527px #fff, 1986px 1120px #fff, 940px 70px #fff,
    497px 1416px #fff, 1891px 92px #fff, 1707px 56px #fff, 666px 1556px #fff,
    900px 387px #fff, 871px 217px #fff, 1861px 1691px #fff, 1270px 1068px #fff,
    126px 1952px #fff, 151px 1312px #fff, 1755px 620px #fff, 1406px 1431px #fff,
    534px 839px #fff, 988px 918px #fff, 518px 515px #fff, 914px 1818px #fff,
    301px 1720px #fff, 913px 907px #fff, 1071px 427px #fff, 1950px 1837px #fff,
    1724px 1257px #fff, 1037px 837px #fff, 500px 1410px #fff, 1526px 562px #fff,
    1256px 1099px #fff, 1912px 1726px #fff, 1963px 547px #fff, 638px 1624px #fff,
    1933px 589px #fff, 1738px 435px #fff, 1763px 724px #fff, 676px 445px #fff,
    533px 875px #fff, 391px 1705px #fff, 665px 886px #fff, 476px 368px #fff,
    1772px 261px #fff, 1395px 748px #fff, 1238px 377px #fff, 1472px 901px #fff,
    591px 1502px #fff, 1893px 1822px #fff, 438px 618px #fff, 1597px 599px #fff,
    1094px 1168px #fff, 924px 382px #fff, 930px 1726px #fff, 1502px 1628px #fff,
    1550px 1620px #fff, 1990px 954px #fff, 1752px 1213px #fff, 395px 404px #fff,
    336px 1604px #fff, 492px 193px #fff, 616px 1294px #fff, 132px 1501px #fff,
    476px 1959px #fff, 1642px 633px #fff, 1164px 1116px #fff, 1841px 1568px #fff,
    1502px 1303px #fff, 1426px 23px #fff, 78px 329px #fff, 299px 352px #fff,
    985px 1346px #fff, 102px 588px #fff, 410px 54px #fff, 135px 1581px #fff,
    1824px 476px #fff, 1701px 1223px #fff, 341px 905px #fff, 586px 199px #fff,
    1203px 1281px #fff, 376px 1415px #fff, 1212px 1329px #fff, 871px 99px #fff,
    526px 1106px #fff, 977px 1064px #fff, 581px 1298px #fff, 1334px 1179px #fff,
    292px 1056px #fff, 392px 244px #fff, 1896px 1784px #fff, 979px 1359px #fff,
    1136px 107px #fff, 916px 1190px #fff, 1975px 916px #fff, 789px 636px #fff,
    1978px 980px #fff, 186px 1207px #fff, 166px 721px #fff, 635px 982px #fff,
    1911px 690px #fff, 232px 1924px #fff, 1031px 498px #fff, 617px 1470px #fff,
    1288px 1149px #fff, 1050px 420px #fff, 1007px 1984px #fff, 1892px 661px #fff,
    494px 230px #fff, 762px 1292px #fff, 1649px 1494px #fff, 1466px 1103px #fff,
    1022px 981px #fff, 1807px 185px #fff, 1773px 1837px #fff, 414px 875px #fff,
    1863px 817px #fff, 553px 714px #fff, 1747px 207px #fff, 719px 1181px #fff,
    780px 87px #fff, 1103px 1579px #fff, 416px 131px #fff, 1140px 436px #fff,
    1591px 831px #fff, 1430px 895px #fff, 1034px 56px #fff, 873px 976px #fff,
    875px 32px #fff, 1404px 1002px #fff, 898px 1085px #fff, 382px 1838px #fff,
    1442px 341px #fff, 1484px 179px #fff, 1602px 1226px #fff, 268px 340px #fff,
    1114px 1382px #fff, 579px 1637px #fff, 1592px 755px #fff, 620px 37px #fff,
    1990px 1892px #fff, 555px 700px #fff, 1505px 1326px #fff, 1281px 1248px #fff,
    1446px 598px #fff, 1708px 1757px #fff, 767px 1369px #fff, 1866px 1585px #fff,
    1370px 1516px #fff, 1087px 1827px #fff, 1597px 400px #fff, 16px 517px #fff,
    1710px 108px #fff, 650px 1793px #fff, 377px 453px #fff, 1908px 946px #fff,
    1591px 542px #fff, 1870px 1338px #fff, 1352px 477px #fff, 779px 1977px #fff,
    1883px 1151px #fff, 778px 1473px #fff, 1875px 1067px #fff,
    1504px 1237px #fff, 1347px 833px #fff, 155px 247px #fff, 535px 80px #fff,
    277px 1562px #fff, 158px 1475px #fff, 439px 1672px #fff, 1074px 772px #fff,
    139px 1779px #fff, 1733px 85px #fff, 1956px 1341px #fff, 1624px 688px #fff,
    45px 412px #fff, 1104px 1353px #fff, 377px 963px #fff, 363px 731px #fff,
    1597px 685px #fff, 1700px 812px #fff, 1700px 397px #fff, 1155px 1617px #fff,
    264px 1692px #fff, 1426px 1130px #fff, 1943px 821px #fff, 963px 1424px #fff,
    341px 1724px #fff, 273px 1083px #fff, 1448px 24px #fff, 608px 1610px #fff,
    1711px 1402px #fff, 1522px 880px #fff, 187px 171px #fff, 491px 1377px #fff,
    1948px 269px #fff, 1071px 903px #fff, 876px 405px #fff, 1060px 1400px #fff,
    1731px 206px #fff, 1662px 1777px #fff, 1286px 405px #fff, 354px 1973px #fff,
    1645px 675px #fff, 625px 901px #fff, 56px 236px #fff, 1303px 1148px #fff,
    1160px 1165px #fff, 1361px 271px #fff, 1175px 29px #fff, 1041px 1010px #fff,
    786px 603px #fff, 1065px 259px #fff, 794px 1040px #fff, 1649px 1854px #fff,
    815px 1369px #fff, 45px 1369px #fff, 410px 726px #fff, 86px 724px #fff,
    954px 813px #fff, 983px 104px #fff, 1385px 226px #fff, 1501px 1233px #fff,
    1221px 1892px #fff, 547px 1048px #fff, 535px 509px #fff, 1245px 1178px #fff,
    1906px 104px #fff, 1749px 230px #fff, 963px 234px #fff, 691px 1921px #fff,
    1473px 1509px #fff, 1426px 1307px #fff, 922px 671px #fff, 1097px 1173px #fff,
    1779px 495px #fff, 1776px 1665px #fff, 1021px 798px #fff, 780px 1890px #fff,
    1268px 697px #fff, 1057px 1472px #fff, 376px 1229px #fff, 920px 701px #fff,
    651px 1192px #fff, 1174px 1192px #fff, 372px 1918px #fff, 1973px 449px #fff,
    85px 1380px #fff, 686px 490px #fff, 1732px 740px #fff, 355px 630px #fff,
    858px 1144px #fff, 977px 157px #fff, 1217px 1411px #fff, 229px 315px #fff,
    5px 1900px #fff, 67px 643px #fff, 980px 1144px #fff, 642px 826px #fff,
    18px 1431px #fff, 623px 1340px #fff, 195px 1496px #fff, 256px 223px #fff,
    844px 61px #fff, 1732px 1993px #fff, 1397px 1354px #fff, 279px 111px #fff,
    906px 111px #fff, 1812px 1841px #fff, 1559px 284px #fff, 1795px 360px #fff,
    862px 719px #fff, 160px 1492px #fff, 641px 1866px #fff, 1533px 994px #fff,
    563px 734px #fff, 835px 737px #fff, 544px 274px #fff, 297px 1907px #fff,
    1472px 1500px #fff, 935px 1360px #fff, 1405px 965px #fff, 1399px 1564px #fff,
    108px 509px #fff, 785px 1293px #fff, 846px 423px #fff, 783px 1446px #fff,
    1679px 1343px #fff, 1961px 524px #fff, 404px 958px #fff, 1425px 1843px #fff,
    779px 1201px #fff, 618px 1276px #fff, 735px 1369px #fff, 854px 1318px #fff,
    1219px 1721px #fff, 1556px 729px #fff, 1479px 1314px #fff,
    1175px 1196px #fff, 1412px 1456px #fff, 855px 1135px #fff, 1339px 102px #fff,
    731px 831px #fff, 1768px 1092px #fff, 1725px 985px #fff, 1195px 1272px #fff,
    1018px 1210px #fff, 347px 1546px #fff, 492px 830px #fff, 1694px 1601px #fff,
    723px 1550px #fff, 1080px 77px #fff, 1170px 388px #fff, 1665px 1302px #fff,
    1135px 147px #fff, 1976px 1681px #fff, 1963px 997px #fff, 1364px 493px #fff,
    1291px 468px #fff, 1082px 1267px #fff, 89px 1651px #fff, 1869px 1177px #fff,
    947px 44px #fff, 736px 932px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1764px 405px #fff, 796px 1688px #fff, 135px 377px #fff,
    1279px 1589px #fff, 417px 1972px #fff, 102px 159px #fff, 1032px 1249px #fff,
    1001px 1100px #fff, 130px 1612px #fff, 1826px 1385px #fff, 1877px 616px #fff,
    1341px 487px #fff, 1447px 1932px #fff, 524px 1169px #fff, 1245px 630px #fff,
    1439px 1851px #fff, 114px 845px #fff, 1806px 205px #fff, 1522px 1720px #fff,
    261px 179px #fff, 1921px 1128px #fff, 102px 761px #fff, 1899px 374px #fff,
    526px 688px #fff, 1162px 730px #fff, 202px 192px #fff, 1166px 1941px #fff,
    1131px 1223px #fff, 991px 1779px #fff, 1883px 121px #fff, 1322px 1017px #fff,
    1806px 1951px #fff, 1696px 790px #fff, 1290px 1373px #fff, 129px 1965px #fff,
    405px 1746px #fff, 497px 413px #fff, 786px 310px #fff, 1872px 1575px #fff,
    408px 518px #fff, 975px 796px #fff, 1093px 748px #fff, 1869px 730px #fff,
    1548px 1140px #fff, 1095px 919px #fff, 1909px 508px #fff, 317px 1368px #fff,
    176px 913px #fff, 536px 1402px #fff, 784px 454px #fff, 1756px 1101px #fff,
    1884px 1175px #fff, 812px 1261px #fff, 773px 1275px #fff, 1388px 570px #fff,
    824px 339px #fff, 459px 673px #fff, 1706px 329px #fff, 1238px 658px #fff,
    54px 1619px #fff, 1041px 1181px #fff, 406px 1494px #fff, 1000px 89px #fff,
    1867px 544px #fff, 267px 1068px #fff, 746px 1148px #fff, 1425px 1654px #fff,
    727px 874px #fff, 1604px 1014px #fff, 546px 1393px #fff, 299px 1187px #fff,
    225px 637px #fff, 1663px 955px #fff, 1159px 870px #fff, 1692px 1749px #fff,
    1611px 798px #fff, 284px 1358px #fff, 582px 1407px #fff, 909px 5px #fff,
    298px 281px #fff, 203px 1633px #fff, 1120px 577px #fff, 1914px 23px #fff,
    24px 1919px #fff, 1714px 1564px #fff, 1003px 647px #fff, 1451px 680px #fff,
    244px 477px #fff, 253px 589px #fff, 1684px 1848px #fff, 1132px 1573px #fff,
    864px 1469px #fff, 1638px 1302px #fff, 1896px 623px #fff, 1752px 1727px #fff,
    386px 1283px #fff, 528px 535px #fff, 550px 43px #fff, 757px 480px #fff,
    206px 971px #fff, 905px 692px #fff, 1619px 1947px #fff, 1052px 161px #fff,
    961px 404px #fff, 536px 444px #fff, 811px 1191px #fff, 925px 1755px #fff,
    302px 1028px #fff, 127px 518px #fff, 1635px 1561px #fff, 1244px 1878px #fff,
    1838px 1064px #fff, 1052px 112px #fff, 486px 918px #fff, 706px 723px #fff,
    773px 1438px #fff, 236px 1042px #fff, 496px 1137px #fff, 881px 242px #fff,
    1211px 1837px #fff, 318px 246px #fff, 880px 1851px #fff, 761px 1009px #fff,
    1095px 1240px #fff, 42px 1310px #fff, 1859px 1471px #fff, 1943px 1668px #fff,
    119px 21px #fff, 68px 601px #fff, 859px 115px #fff, 1927px 1349px #fff,
    1631px 515px #fff, 63px 452px #fff, 289px 550px #fff, 1053px 1462px #fff,
    169px 1003px #fff, 1332px 1428px #fff, 52px 300px #fff, 1638px 1930px #fff,
    1821px 1098px #fff, 651px 701px #fff, 695px 1502px #fff, 484px 947px #fff,
    1444px 1320px #fff, 199px 1399px #fff, 1523px 922px #fff, 1650px 1216px #fff,
    444px 1421px #fff, 508px 252px #fff, 1876px 941px #fff, 1473px 1340px #fff,
    110px 735px #fff, 1471px 1103px #fff, 1585px 240px #fff, 440px 1306px #fff,
    444px 496px #fff, 1016px 1860px #fff, 803px 1825px #fff, 1523px 317px #fff,
    296px 1554px #fff, 343px 1604px #fff, 1100px 315px #fff, 895px 1642px #fff,
    362px 55px #fff, 1474px 1422px #fff, 764px 1783px #fff, 1097px 1991px #fff,
    1934px 732px #fff, 187px 1382px #fff, 1714px 516px #fff, 284px 1038px #fff,
    942px 1205px #fff, 392px 1842px #fff, 209px 766px #fff, 750px 1770px #fff,
    1285px 222px #fff, 354px 1660px #fff, 1050px 902px #fff, 1965px 814px #fff,
    959px 1995px #fff, 1180px 167px #fff, 1415px 935px #fff, 259px 1px #fff,
    1895px 364px #fff, 606px 895px #fff, 1499px 1491px #fff, 961px 1076px #fff,
    1248px 238px #fff, 759px 1651px #fff, 368px 568px #fff, 415px 1558px #fff,
    46px 1150px #fff, 156px 1055px #fff, 150px 1452px #fff, 451px 338px #fff,
    556px 836px #fff, 1707px 301px #fff, 1519px 1504px #fff, 1993px 1239px #fff,
    1642px 1826px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1764px 405px #fff, 796px 1688px #fff, 135px 377px #fff,
    1279px 1589px #fff, 417px 1972px #fff, 102px 159px #fff, 1032px 1249px #fff,
    1001px 1100px #fff, 130px 1612px #fff, 1826px 1385px #fff, 1877px 616px #fff,
    1341px 487px #fff, 1447px 1932px #fff, 524px 1169px #fff, 1245px 630px #fff,
    1439px 1851px #fff, 114px 845px #fff, 1806px 205px #fff, 1522px 1720px #fff,
    261px 179px #fff, 1921px 1128px #fff, 102px 761px #fff, 1899px 374px #fff,
    526px 688px #fff, 1162px 730px #fff, 202px 192px #fff, 1166px 1941px #fff,
    1131px 1223px #fff, 991px 1779px #fff, 1883px 121px #fff, 1322px 1017px #fff,
    1806px 1951px #fff, 1696px 790px #fff, 1290px 1373px #fff, 129px 1965px #fff,
    405px 1746px #fff, 497px 413px #fff, 786px 310px #fff, 1872px 1575px #fff,
    408px 518px #fff, 975px 796px #fff, 1093px 748px #fff, 1869px 730px #fff,
    1548px 1140px #fff, 1095px 919px #fff, 1909px 508px #fff, 317px 1368px #fff,
    176px 913px #fff, 536px 1402px #fff, 784px 454px #fff, 1756px 1101px #fff,
    1884px 1175px #fff, 812px 1261px #fff, 773px 1275px #fff, 1388px 570px #fff,
    824px 339px #fff, 459px 673px #fff, 1706px 329px #fff, 1238px 658px #fff,
    54px 1619px #fff, 1041px 1181px #fff, 406px 1494px #fff, 1000px 89px #fff,
    1867px 544px #fff, 267px 1068px #fff, 746px 1148px #fff, 1425px 1654px #fff,
    727px 874px #fff, 1604px 1014px #fff, 546px 1393px #fff, 299px 1187px #fff,
    225px 637px #fff, 1663px 955px #fff, 1159px 870px #fff, 1692px 1749px #fff,
    1611px 798px #fff, 284px 1358px #fff, 582px 1407px #fff, 909px 5px #fff,
    298px 281px #fff, 203px 1633px #fff, 1120px 577px #fff, 1914px 23px #fff,
    24px 1919px #fff, 1714px 1564px #fff, 1003px 647px #fff, 1451px 680px #fff,
    244px 477px #fff, 253px 589px #fff, 1684px 1848px #fff, 1132px 1573px #fff,
    864px 1469px #fff, 1638px 1302px #fff, 1896px 623px #fff, 1752px 1727px #fff,
    386px 1283px #fff, 528px 535px #fff, 550px 43px #fff, 757px 480px #fff,
    206px 971px #fff, 905px 692px #fff, 1619px 1947px #fff, 1052px 161px #fff,
    961px 404px #fff, 536px 444px #fff, 811px 1191px #fff, 925px 1755px #fff,
    302px 1028px #fff, 127px 518px #fff, 1635px 1561px #fff, 1244px 1878px #fff,
    1838px 1064px #fff, 1052px 112px #fff, 486px 918px #fff, 706px 723px #fff,
    773px 1438px #fff, 236px 1042px #fff, 496px 1137px #fff, 881px 242px #fff,
    1211px 1837px #fff, 318px 246px #fff, 880px 1851px #fff, 761px 1009px #fff,
    1095px 1240px #fff, 42px 1310px #fff, 1859px 1471px #fff, 1943px 1668px #fff,
    119px 21px #fff, 68px 601px #fff, 859px 115px #fff, 1927px 1349px #fff,
    1631px 515px #fff, 63px 452px #fff, 289px 550px #fff, 1053px 1462px #fff,
    169px 1003px #fff, 1332px 1428px #fff, 52px 300px #fff, 1638px 1930px #fff,
    1821px 1098px #fff, 651px 701px #fff, 695px 1502px #fff, 484px 947px #fff,
    1444px 1320px #fff, 199px 1399px #fff, 1523px 922px #fff, 1650px 1216px #fff,
    444px 1421px #fff, 508px 252px #fff, 1876px 941px #fff, 1473px 1340px #fff,
    110px 735px #fff, 1471px 1103px #fff, 1585px 240px #fff, 440px 1306px #fff,
    444px 496px #fff, 1016px 1860px #fff, 803px 1825px #fff, 1523px 317px #fff,
    296px 1554px #fff, 343px 1604px #fff, 1100px 315px #fff, 895px 1642px #fff,
    362px 55px #fff, 1474px 1422px #fff, 764px 1783px #fff, 1097px 1991px #fff,
    1934px 732px #fff, 187px 1382px #fff, 1714px 516px #fff, 284px 1038px #fff,
    942px 1205px #fff, 392px 1842px #fff, 209px 766px #fff, 750px 1770px #fff,
    1285px 222px #fff, 354px 1660px #fff, 1050px 902px #fff, 1965px 814px #fff,
    959px 1995px #fff, 1180px 167px #fff, 1415px 935px #fff, 259px 1px #fff,
    1895px 364px #fff, 606px 895px #fff, 1499px 1491px #fff, 961px 1076px #fff,
    1248px 238px #fff, 759px 1651px #fff, 368px 568px #fff, 415px 1558px #fff,
    46px 1150px #fff, 156px 1055px #fff, 150px 1452px #fff, 451px 338px #fff,
    556px 836px #fff, 1707px 301px #fff, 1519px 1504px #fff, 1993px 1239px #fff,
    1642px 1826px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1352px 1186px #fff, 1487px 1993px #fff, 282px 1420px #fff,
    1943px 1751px #fff, 1077px 751px #fff, 294px 577px #fff, 1286px 749px #fff,
    44px 947px #fff, 134px 1348px #fff, 235px 1742px #fff, 902px 1813px #fff,
    562px 1654px #fff, 1780px 348px #fff, 447px 1258px #fff, 1718px 1841px #fff,
    1377px 1217px #fff, 246px 1663px #fff, 1653px 1250px #fff, 1157px 200px #fff,
    1261px 233px #fff, 1654px 1721px #fff, 1385px 1133px #fff, 514px 760px #fff,
    1056px 1747px #fff, 1296px 1303px #fff, 770px 79px #fff, 1945px 1855px #fff,
    868px 1702px #fff, 203px 491px #fff, 850px 1542px #fff, 1904px 1240px #fff,
    1422px 123px #fff, 1058px 360px #fff, 1379px 1655px #fff, 1405px 938px #fff,
    887px 1738px #fff, 1986px 1008px #fff, 404px 1572px #fff, 1821px 1609px #fff,
    1221px 117px #fff, 607px 1189px #fff, 134px 1997px #fff, 1626px 1661px #fff,
    959px 253px #fff, 1865px 1302px #fff, 431px 680px #fff, 1797px 1767px #fff,
    477px 1048px #fff, 1399px 1890px #fff, 382px 841px #fff, 871px 204px #fff,
    535px 1104px #fff, 468px 1334px #fff, 1243px 1743px #fff, 96px 1914px #fff,
    887px 712px #fff, 1625px 1535px #fff, 1805px 179px #fff, 1039px 1344px #fff,
    674px 108px #fff, 1084px 316px #fff, 1283px 1926px #fff, 784px 535px #fff,
    547px 424px #fff, 840px 1778px #fff, 723px 917px #fff, 531px 325px #fff,
    538px 785px #fff, 226px 1000px #fff, 732px 1398px #fff, 368px 279px #fff,
    3px 1820px #fff, 1198px 1018px #fff, 62px 115px #fff, 425px 291px #fff,
    1884px 383px #fff, 1895px 1171px #fff, 474px 1076px #fff, 1224px 232px #fff,
    382px 596px #fff, 1103px 1963px #fff, 116px 547px #fff, 1699px 1344px #fff,
    1443px 1555px #fff, 121px 1601px #fff, 1366px 1388px #fff, 838px 1364px #fff,
    1721px 1859px #fff, 1761px 658px #fff, 750px 1672px #fff, 1575px 1121px #fff,
    1677px 1642px #fff, 394px 680px #fff, 243px 796px #fff, 1319px 1359px #fff,
    323px 1395px #fff, 1388px 196px #fff, 762px 1429px #fff, 1500px 1224px #fff,
    1369px 752px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1352px 1186px #fff, 1487px 1993px #fff, 282px 1420px #fff,
    1943px 1751px #fff, 1077px 751px #fff, 294px 577px #fff, 1286px 749px #fff,
    44px 947px #fff, 134px 1348px #fff, 235px 1742px #fff, 902px 1813px #fff,
    562px 1654px #fff, 1780px 348px #fff, 447px 1258px #fff, 1718px 1841px #fff,
    1377px 1217px #fff, 246px 1663px #fff, 1653px 1250px #fff, 1157px 200px #fff,
    1261px 233px #fff, 1654px 1721px #fff, 1385px 1133px #fff, 514px 760px #fff,
    1056px 1747px #fff, 1296px 1303px #fff, 770px 79px #fff, 1945px 1855px #fff,
    868px 1702px #fff, 203px 491px #fff, 850px 1542px #fff, 1904px 1240px #fff,
    1422px 123px #fff, 1058px 360px #fff, 1379px 1655px #fff, 1405px 938px #fff,
    887px 1738px #fff, 1986px 1008px #fff, 404px 1572px #fff, 1821px 1609px #fff,
    1221px 117px #fff, 607px 1189px #fff, 134px 1997px #fff, 1626px 1661px #fff,
    959px 253px #fff, 1865px 1302px #fff, 431px 680px #fff, 1797px 1767px #fff,
    477px 1048px #fff, 1399px 1890px #fff, 382px 841px #fff, 871px 204px #fff,
    535px 1104px #fff, 468px 1334px #fff, 1243px 1743px #fff, 96px 1914px #fff,
    887px 712px #fff, 1625px 1535px #fff, 1805px 179px #fff, 1039px 1344px #fff,
    674px 108px #fff, 1084px 316px #fff, 1283px 1926px #fff, 784px 535px #fff,
    547px 424px #fff, 840px 1778px #fff, 723px 917px #fff, 531px 325px #fff,
    538px 785px #fff, 226px 1000px #fff, 732px 1398px #fff, 368px 279px #fff,
    3px 1820px #fff, 1198px 1018px #fff, 62px 115px #fff, 425px 291px #fff,
    1884px 383px #fff, 1895px 1171px #fff, 474px 1076px #fff, 1224px 232px #fff,
    382px 596px #fff, 1103px 1963px #fff, 116px 547px #fff, 1699px 1344px #fff,
    1443px 1555px #fff, 121px 1601px #fff, 1366px 1388px #fff, 838px 1364px #fff,
    1721px 1859px #fff, 1761px 658px #fff, 750px 1672px #fff, 1575px 1121px #fff,
    1677px 1642px #fff, 394px 680px #fff, 243px 796px #fff, 1319px 1359px #fff,
    323px 1395px #fff, 1388px 196px #fff, 762px 1429px #fff, 1500px 1224px #fff,
    1369px 752px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
