@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: white;
  height: 100%;
  display: block;
}
button {
  font-family: "Orbitron", sans-serif;
  color: white;
}

body > :first-child,
.content,
.content > * {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: inherit;
  margin: 0;
}

h1 {
  text-transform: uppercase;
  font-weight: 800;
}

p {
  font-size: var(--p_font_size);
  font-weight: 600;
  letter-spacing: 1px;
}

/* * {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */
:root {
  --v1: #be91c6;
  --v2: #8a65cc;
  --whaterColor: #080825c7;
  --v3: #5e30d9;
  --transparentv3: #5e30d900;
  --v4: #3b1895;
  /* --s1: #fea798; */
  --s1: #0f35b1c9;
  --s1pure: #0f35b1;
  /* --s2: #ff846e; */
  --s2: #030730d7;
  --cloud: #fea798;

  --night-bg-color: #060131;

  --sun_diameter: 20vh;
  --rise_step_duration: 3s;
  --name_duration: 5s;
  --sunset_duration: 5s;
  --full_rise_duration: calc(var(--rise_step_duration) * 3);
  --role_reveal_duration: 4s;

  --role_size: 1rem;
  --navbar-height: calc(var(--role_size) * 2.3);

  --h2_size: 1rem;
  --p_font_size: 15px;
  ----large_text_size:1em
  --fade_in_alien_duration: 4s;

  --all_presentation_duration: calc(
    var(--full_rise_duration) + var(--role_reveal_duration) +
      var(--fade_in_alien_duration)
  );
  --text-width: 65ch;
}

@media screen and (min-width: 1080px) {
  body {
    --role_size: 2rem;
    --navbar-height: calc(var(--role_size) * 2.3);
    --h2_size: 1.5rem;
    --p_font_size: 18px;
    --large_text_size: 1.3em;
  }
}

.sectionTitle {
  position: absolute;
  top: 0.5em;
}

.wrapper {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr min(var(--text-width), calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
  grid-template-rows: min-content;
  width: 100%;
}
.wrapper > * {
  grid-column: 2;
  text-align: center;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
h1 {
  display: block;
  font-size: var(--role_size);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 {
  font-size: var(--h2_size);
  margin: 0;
}

label {
  font-size: var(--p_font_size);
}

input:focus {
  outline-color: var(--v4);
  box-shadow: 0px 0px 10px var(--v2);
}
textarea:focus {
  outline-color: var(--v4);
  box-shadow: 0px 0px 10px var(--v2);
}

.largeText {
  font-family: "Karla", sans-serif;
  font-weight: unset;
  letter-spacing: unset;
  font-size: var(--large_text_size);
  text-align: left;
}
