@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

/* * {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */
:root {
  --v1: #be91c6;
  --v2: #8a65cc;
  --whaterColor: #080825c7;
  --v3: #5e30d9;
  --transparentv3: #5e30d900;
  --v4: #3b1895;
  /* --s1: #fea798; */
  --s1: #0f35b1c9;
  /* --s2: #ff846e; */
  --s2: #030730d7;
  --cloud: #fea798;

  --sun_diameter: 20vh;
  --rise_step_duration: 3s;
  --name_duration: 5s;
  --sunset_duration: 5s;
  --full_rise_duration: calc(var(--rise_step_duration) * 3);
  --role_reveal_duration: 4s;

  --role_size: 1rem;
}

@media screen and (min-width: 1080px) {
  body {
    --role_size: 2rem;
  }
}
